.hero {
  /* background-image: url("https://zone-assets-api.vercel.app/assets/images/home/home_hero.png");
  background-size: cover;
  background-position:10%;
  background-repeat: no-repeat; */
  
  height: 75vh;
  background-color: var(--sec);
  width: 100%;
  font-family: "Audiowide";
  transition: all ease .5s;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5rem;

}

.hero__text {
  text-align: center;
  margin-top: 5%;
  min-width: 100%;
}

.hero__title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--secondary);
  transition: all ease .25s;
}

.hero__title strong{
  background: -webkit-linear-gradient(180deg , var(--secondary),  #00bdc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease .25s;
}

.hero__description {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: rgb(165, 165, 165);
  width: 60vh;
  margin: 20px auto !important ;
  font-family: 'Poppins', sans-serif;
}
.hero__button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 1.3em 3em;
  font-size: 12px;
  letter-spacing: 2.5px;
  color: var(--main);
  background-color: var(--secondary);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.hero__button:hover {
  background-color: #baeef0;
  box-shadow: 0px 15px 20px #baeef0;
  color: var(--secondary);
  transform: translateY(-7px);
}

.hero__button:active {
  transform: translateY(-1px);
}

.hero__code-container {
  margin-top: 5rem;
}

.hero__code {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: var(--secondary);
  padding: 1.5rem;
  border-radius: 10px;
  background: var(--main);
  font-weight: bold;
}

.hero__code code {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-bottom: 1rem;
  font-size: 60%;
}

/* Media Queries */

@media only screen and (min-width: 1068px) {


  .hero__text {
    max-width: 40rem;
    text-align: center;
  }

  .hero__code-container {
    margin-top: 0;
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 668px) {
  .hero{
    height: 120vh;
  }
  .hero__code code {
    font-size: 0.5rem;
  }
  .hero__description {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: rgb(165, 165, 165);
    max-width: 100%;
    margin-left: 0;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__description {
    width: 90%;
  }
}


@media only screen and (max-height: 768px){

  .hero{
    height: 180vh;
  }

}

@media only screen and (min-width: 1200px) {
  .hero__title {
    font-size: 4rem;
  }

  .hero__description {
    font-size: 1.5rem;
  }

  .hero__.hero__button {
    font-size: 2.5rem;
  }
}
