:root {
  --cover-timing: 0.5s;
  --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
  --cover-stagger: 0.15s;

  --text-timing: .75s;
  --text-stagger: 0.015s;
  --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);

  --title-stagger: 0.05s;
  --highlight: var(--sec);
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5rem;
  justify-items: center;
  height: fit-content;
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding: 5rem;
}


.card {
  scale: 1;
  width: 35vh;
  height: 40vh;
  position: relative;
  overflow: hidden;
  aspect-ratio: 9/12;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw,
    rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw,
    rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
  transition: box-shadow 1s var(--cover-ease);
}

.card>* {
  z-index: 2;
}

.card>img {
  z-index: 0;
  transition: all .8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
  ;
}

.card::before,
.card::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;
}

.card::after {
  transition-delay: var(--cover-stagger);
  top: 50%;
}

.card:hover {
  box-shadow: var(--sec) 0 5vw 6vw -9vw,
    var(--highlight) 0 5.5vw 5vw -7.5vw,
    rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw,
    rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}

.card:hover::before,
.card:hover::after {
  transform: scaleX(1);
}

.card:hover h2 .char,
.card:hover p .word {
  opacity: 1;
  transform: translateY(0);
  color: inherit;
}

.card:hover h2 .char {
  transition-delay: calc(0.1s + var(--char-index) * var(--title-stagger));
}

.card:hover p .word {
  transition-delay: calc(0.1s + var(--word-index) * var(--text-stagger));
}

.card:hover img {
  transform: scale(1.1);
}

.card:nth-of-type(1) {
  --highlight: coral;
}

.card:nth-of-type(2) {
  --highlight: #56ffe5;
}

.card:hover .text {
  opacity: 1;
}

.text {
  opacity: 0;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fff;
  text-align: left;
  z-index: 3;
  padding: 1rem;
  transition: opacity var(--text-timing) var(--text-ease);
}

.text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.text h2 .char {
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(-1rem);
  transition: transform 0.5s var(--text-ease),
    opacity 0.5s var(--text-ease);
}

.text p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.text p .word {
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(1rem);
  transition: transform 0.5s var(--text-ease),
    opacity 0.5s var(--text-ease);
}

@media screen and (max-width: 1000px) {

  .card {
    aspect-ratio: unset;
    flex-direction: row;
  }

  .card>img {
    flex: 1;
  }

  .text {
    flex: 1;
    padding-top: 5rem;
    text-align: left;
  }

  #main {
    grid-gap: 1rem;
    justify-items: center;
    margin-top: 5rem;
    padding: 0;
  }
}

@media screen and (max-width: 668px) {
  #main {
    margin-top: -5rem;
    margin-bottom: 5rem;
  }
}

.card-button {
  background-color: coral;
  color: var(--sec);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s ease;
}

.card-button:hover {
  background-color: #ff7f50;
}
